The `get-impure-port` function should not deliver the fragment part of the URL on the wire



**What version of Racket are you using?**
8.16

**What program did you run?**

On the command line, I started a TCP listener using `nc -l 9303`

Then, in DrRacket, I ran this program:

```
#lang racket

(require net/url)

(get-impure-port (string->url "http://localhost:9303/index.html#zzzz"))
```

On the terminal side, I saw this:

```
GET /index.html#zzzz HTTP/1.1
Host: localhost:9303
User-Agent: Racket/8.15.900 (net/http-client)
Content-Length: 0
```

... indicating that the fragment part, `#zzzz`, was appearing as part of the request. 

@LiberalArtist reports:

"To my surprise, [RFC 3986 § 3.5](https://datatracker.ietf.org/doc/html/rfc3986#section-3.5) indeed says:

    Fragment identifiers have a special role in information retrieval systems as the primary form of client-side indirect referencing, allowing an author to specifically identify aspects of an existing resource that are only indirectly provided by the resource owner. As such, the fragment identifier is not used in the scheme-specific processing of a URI; instead, the fragment identifier is separated from the rest of the URI prior to a dereference, and thus the identifying information within the fragment itself is dereferenced solely by the user agent, regardless of the URI scheme. Although this separate handling is often perceived to be a loss of information, particularly for accurate redirection of references as resources move over time, it also serves to prevent information providers from denying reference authors the right to refer to information within a resource selectively. Indirect referencing also provides additional flexibility and extensibility to systems that use URIs, as new media types are easier to define and deploy than new schemes of identification."

**What should have happened?**

The `GET` line (I believe) should instead have been

```
GET /index.html HTTP/1.1
```

**If you got an error message, please include it here.**


**Please include any other relevant details**


This issue has been mentioned on **Racket Discourse**. There might be relevant details there:

https://racket.discourse.group/t/checking-urls-using-get-impure-port/3599/7


FWIW, it looks like this is probably just as simple as omitting the fragment part of the URL when constructing the string to go on the wire. Probably a good first issue?

Hmm, seems like a good enough first issue for me.

Given that the fragment identifiers are **never** sent to the server, shouldn't we remove it entirely from the `net/url`? Are they useful for something else?

There are uses of `net/url` in which the code using it is a client, not a server. So fragments being client-side-only is not a good reason to make it impossible to put them in the struct.