JSON output differs between BC and CS

Consider the following program (from the `net-jwt` test suite): 
```
(define hs256-header #hasheq((alg . "HS256") (test . "foo")))
(jsexpr->bytes hs256-header)
```

This produces different answers on Racket CS and Racket BC, because the `json` library relies on the (non-deterministic) hash iteration order.

We could 
- declare this not a bug 
- change the JSON library to sort things
- change Racket CS to match the Racket BC behavior (probably unlikely)

Related to #3457 

Thanks! I have been meaning to report this problem since August. BUT I think it is a tad worse than what you say. The hash order seems to change on each run (w/i drracket or via script) which, unless I misremember, BC didn't do either. 


I don't think this is a bug, since interoperable JSON implementations should treat objects as unordered collections of key–value pairs. (The precise language differs slightly between [RFC 8259 §4](https://tools.ietf.org/html/rfc8259#section-4), [ECMA-404 (2017) §6](https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf), and the [json.org](https://www.json.org/json-en.html) spec.)

However, I do think it would be useful for the `json` library to provide an option to sort keys: deterministic output seems like it could be useful in a variety of scenarios. This could probably be as simple as passing a third argument to `hash-for-each`. I think it should probably be opt-in, though, so programs that don't need sorting don't pay a time penalty.

Yes, it's a feature request :-) 
