net/url: Inconsistent handling of the *authority* component

There are differences in the specification of the *authority* component of a URI between [RFC 2396](https://datatracker.ietf.org/doc/html/rfc2396) (what `net/url` claims to implement) and [RFC 398](https://datatracker.ietf.org/doc/html/rfc3986) (the updated spec, which Rhombus claims to implement: https://github.com/racket/rhombus/pull/638#discussion_r2009145743). Currently, it seems like `string->url` imposes restrictions from RFC 3986 that aren't present in RFC 2396, but it also doesn't perform the decoding specified by RFC 2396.

# Example

Consider this URI proposed by @jackfirth [on Discord](https://discord.com/channels/571040468092321801/893314076346826852/1374648274564157490): `at://did:plc:kdlgwnwhipachrxfwrgu33t5/social.skywryter.experimental.post/3lo5zlb63ew2m`

The [provisional `at://` protocol](https://atproto.com/specs/at-uri-scheme#generic-uri-compliance) would like it to be parsed as:

```racket
(url "at"
     #f "did:plc:kdlgwnwhipachrxfwrgu33t5" #f
     #true ; path-absolute?
     (list (path/param "social.skywryter.experimental.post" '())
           (path/param "3lo5zlb63ew2m" '()))
     '()
     #f)
```

Passing that to `url->string` produces the example URI above, but RFC 3986 does not allow unencoded `:` characters in the *host* component (a fact that the AT Protocol people seem to have overlooked). Instead, RFC 3986 would use the string representation `at://did%3Aplc%3Akdlgwnwhipachrxfwrgu33t5/social.skywryter.experimental.post/3lo5zlb63ew2m`.

Calling `string->url` on the version with `%3A` in the *host* produces a `url-host` of `"did%3aplc%3akdlgwnwhipachrxfwrgu33t5"`, i.e. without decoding.

Calling `string->url` on the version with enencoded `:` in the host raises an error complaining, "invalid URL string; host provided with non-absolute path (i.e., missing a slash)". That is correct according to RFC 3986. More specifically, `string->url` parsed `did` as the *host* part, terminated by a `:` introducing an empty *port* part. It then parses the *path* as relative, since there is no `/` after the empty *port*, with the contents:
```racket
(list (path/param "plc:kdlgwnwhipachrxfwrgu33t5" '())
      (path/param "social.skywryter.experimental.post" '())
      (path/param "3lo5zlb63ew2m" '()))
```

However, in RFC 2396, it appears that `did:plc:kdlgwnwhipachrxfwrgu33t5` [would satisfy](https://datatracker.ietf.org/doc/html/rfc2396#section-3.2) the *reg_name* variant of the *authority* production (in contrast to the *server* variant).

# Notes

In [RFC 2396 § 3.2](https://datatracker.ietf.org/doc/html/rfc2396#section-3.2), the *authority* component is defined with two variants:
```
      authority     = server | reg_name
      reg_name      = 1*( unreserved | escaped | "$" | "," |
                          ";" | ":" | "@" | "&" | "=" | "+" )
      server        = [ [ userinfo "@" ] hostport ]
      userinfo      = *( unreserved | escaped |
                         ";" | ":" | "&" | "=" | "+" | "$" | "," )
      hostport      = host [ ":" port ]
      host          = hostname | IPv4address
      hostname      = *( domainlabel "." ) toplabel [ "." ]
      domainlabel   = alphanum | alphanum *( alphanum | "-" ) alphanum
      toplabel      = alpha | alpha *( alphanum | "-" ) alphanum
      IPv4address   = 1*digit "." 1*digit "." 1*digit "." 1*digit
      port          = *digit
```
Note that the *host* component does not require percent-decoding, because the *escaped* production is not allowed. In contrast, the *reg_name* production **does** allow *escaped*. The prose explicitly says the definition of the *hostname* production is intended to refer to DNS RFCs. The prose also says:

> The authority component is preceded by a double slash `//` and is terminated by the next slash `/`, question-mark `?`, or by the end of the URI.

That aspect is very close to [RFC 3986 § 3.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2):

> The authority component is preceded by a double slash (`//`) and is terminated by the next slash (`/`), question mark (`?`), or number sign (`#`) character, or by the end of the URI.

However, the grammar in RFC 3986 is quite different:
```
      authority   = [ userinfo "@" ] host [ ":" port ]
      userinfo    = *( unreserved / pct-encoded / sub-delims / ":" )
      host        = IP-literal / IPv4address / reg-name
      reg-name    = *( unreserved / pct-encoded / sub-delims )
      port        = *DIGIT
```

Here, the prose leaves the semantics of a *reg-name* to the protocol (while noting that DNS is common), but its concrete syntax allows *pct-encoded* and forbids `:` (and the rest of *gen-delims*). While this gives URI schemes much more flexibility than RFC 2396's *hostname* production, RFC 3986 doesn't seem to have a mechanism analogous to RFC 2396's *regname* production. In other words, with RFC 3986, an *authority* must always have the structure of optional-user + host + optional-port, while RFC 2396 lets a scheme define an entirely different structure for the *authority* component.

On the other hand, RFC 3986 says:
> Non-validating parsers (those that merely separate a URI reference into its major components) will often ignore the subcomponent structure of authority, treating it as an opaque string from the double-slash to the first terminating delimiter, until such time as the URI is dereferenced.

Because the AT Protocol is (seemingly unwittingly) nonconformant due to unescaped `:` in *reg-name*, `at://` URIs only work with such non-validating parsers. [They say](https://atproto.com/specs/at-uri-scheme#usage-and-implementation-guidelines):

> Specifically: the Python 3 `urllib` module (from the standard library) works; the Javascript `url-parse` package works; the Golang `net/url` package does not work; and most of the popular Rust URL parsing crates do not work.

# (Non-)Conclusion

I'm not sure what the right combination of behaviors is, but it would be nice to do something more consistent.